.profile__edit-button {
  box-sizing: border-box;

  background-image: url(../../../images/editbutton.svg);
  background-size: contain;
  background-color: #000;

  background-position: center center;
  color: #fff;

  margin: 0;
  margin-top: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  display: inline-block;
  transition: 0.2s;
}





@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}



