.profile {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  width: 100%;
  max-width: 880px;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile {
      margin-top: 42px;
      margin-bottom: 36px;
      max-width: 282px;
      flex-direction: column;
      justify-content: center;
  }
}
