.popup__submitbutton {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 18px;
  padding: 0;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: 0.3s;
  background: #000;
}

.popup__submitbutton:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__submitbutton {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
