
.profile__add-button {
  
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 2px white;
  background-image: url('../../../images/AddButton.svg');
  margin: 0;
  width: 282px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
  background-size: 17px;
  transition:  0.3s;
}

@media screen and (min-width: 1280px) {
  .profile__add-button {
    width: 150px;
    margin-left: auto;
    background-size: 20px;
  }
}




