.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  background-image: url("../../../images/AddButton.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  transition: 0.2s;
  border-radius: 2px;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
}

.profile__add-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
