.elements__like-button {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  transition: 0.2s;
}

.elements__like-button:hover {
  opacity: 0.5;

  cursor: pointer;
}
