.profile__text2 {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #fff;
     max-width: 336px;
     text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }
   
   
   @media screen and (max-width: 320px) {
     .profile__text2 {
       width: 282px;
       font-size: 14px;
       line-height: 16.94px;
       text-align: center;    
      
     }
   }
 